/TP2/TP2_MarianoRodriguezArce/nbproject/private/
/TP2/TP2_MarianoRodriguezArce/build/
/TP3/TP3_MarianoRodriguezArce/nbproject/private/
/TP3/TP3_MarianoRodriguezArce/build/
/TP3/TP4_MarianoRodriguezArce/nbproject/private/
/TP3/TP4_MarianoRodriguezArce/build/
/TP5/TP5_MarianoRodriguezArce/nbproject/private/
/TP5/TP5_MarianoRodriguezArce/build/
/TP6/TP6_MarianoRodriguezArce/nbproject/private/
/TP6/TP6_MarianoRodriguezArce/build/
/TP7/TP7_MarianoRodriguezArce/nbproject/private/
/TP7/TP7_MarianoRodriguezArce/build/
/TP8/TP8_RodriguezArceMariano/nbproject/private/
/TP8/TP8_RodriguezArceMariano/build/
